---
import MainLayout from "../layouts/MainLayout.astro";
// import Mockup from "../components/Mockup.astro";
// import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
// import { Image } from "astro:assets";
// import portrait from "../images/MiriamNYC_v2T.png";
---

<MainLayout>
  <!-- <Heading> About </Heading> -->
  <!-- <Mockup title="About" mockup={portrait}> -->
  <div class="prose text-center mt-4 mx-auto max-w-3xl">
    <!-- <p class="mb-2 font-bold">Hello!</p> -->
    <h4>Hello!</h4>
    <p>
      I am an <b>independent freelance designer</b>, with a focus on books and
      graphic novels, illustration, and graphic design. I graduated with honors
      from the Parsons School of Design in 2023 and I’m currently based in
      Brooklyn, New York.
    </p>

    <p>
      With experience ranging from an Art & Design internship at Penguin Random
      House to working alongside Corraini Edizioni selling their books at the
      New York Art Book Fair, I love the world of publishing and literature. My
      approach to design work is characterized by its <b
        >composition and color</b
      >. In the case of book covers, posters, and graphic novels especially, the
      relationships between type, image, and meaning create a beautiful dance of
      visual connections.
    </p>

    <p>
      I am actively <b> seeking freelance opportunities and commissions! </b>
      If you are looking for someone who will bring enthusiasm and drive to your
      team or project, please look no further! I take on tasks ranging from digitally
      coloring illustrations, photo retouching, creating assets and presentations
      to editing for trailers, designing posters, creating websites for start-ups,
      illustration, and designing book covers.
    </p>

    <p>
      <b>I also have expansive experience as a Studio Assistant! </b>
    </p>
  </div>

  <div class="mb-4 text-center">
    <p>For inquiries please reach out at</p>
    <div class="text-red-800">miriamspalinski.contact@gmail.com</div>
  </div>
  <!-- <div class="flex justify-center">
    <Button href="mailto:miriamspalinski.contact@gmail.com">
      Contact me!
    </Button>
  </div> -->
  <!-- </Mockup> -->
</MainLayout>
