---
import MainLayout from "../layouts/MainLayout.astro";
// import Tinted from "../components/Tinted.astro";
// import Masonry from "../components/Masonry.astro";
// import Button from "../components/Button.astro";

import { Image } from "astro:assets";
import logo from "../images/logo_cropped.png";
import image from "../images/chick_T.png";

// import image from "../images/MiriamNYC_v2T.png";
// import dog from "../images/art2024/illustration/01_dog.png";
// import cat from "../images/art2024/illustration/02_cat.png";
// import road from "../images/art2024/illustration/03_road.png";
// const images = await Astro.glob(
//   "../images/art2024/illustration/*.{jpg,jpeg,png,webp}"
// );
---

<MainLayout>
  <div class="relative">
    <div class="flex justify-center pt-4">
      <Image
        src={logo}
        alt="Background Image"
        class="absolute max-h-[360px] w-auto z-0"
      />
    </div>
    <div class="mx-12 gap-1 grid md:grid-cols-2 place-items-center">
      <div class="z-10 h-full w-4/6">
        <div class="prose prose-sm prose-narrow text-center">
          <p>
            I am a freelance graphic designer, with a focus on books, graphic
            novels, and illustration. I strive to harness relationships between
            type, color, image and composition to uncover purpose and meaning,
            using dialog to build narratives into designs!
          </p>
        </div>
      </div>
      <div class="pl-2 pt-4 z-10 h-full w-full">
        <Image src={image} alt="main image" class="object-cover" />
      </div>
    </div>
  </div>
</MainLayout>
