---
const { mockup, text, link } = Astro.props;
import { Image } from "astro:assets";
---

<div class="place-items-center gap-0 grid lg:grid-cols-2 lg:auto-rows">
  <div class="lg:row-span-2 lg:order-2">
    <a href={link}>
      <Image
        src={mockup}
        alt=""
        class="shadow-2xl rounded-lg object-contain max-w-[250px] sm:max-w-[300px] md:max-w-[350px]"
      />
    </a>
  </div>

  <div
    class="text-lg py-24 lg:order-1 flex flex-col items-center justify-center"
  >
    <p>{text}</p>
    <a href={link} class="block pt-1 hover:underline"> See full spread </a>
    <!-- <span class="material-symbols-outlined"> arrow_forward </span> -->
    <span class="hidden lg:block material-symbols-outlined">
      line_end_arrow_notch
    </span>
  </div>
</div>
