---
const { href, class: className } = Astro.props;
---

<div class={className}>
  <div
    class="bg-[url('/logo_cropped.png')] bg-no-repeat bg-contain bg-center p-6 flex items-center justify-center"
  >
    <div class="p-4 flex items-center justify-center">
      <a
        href={href}
        target="_blank"
        class="block no-underline hover:underline text-xl"
      >
        <slot />
      </a>
    </div>
  </div>
</div>
