---
import { SITE_TITLE } from "../constants";
---

<footer class="rounded-lg dark:bg-gray-900 py-4">
  <span class="block text-sm text-gray-500 text-center dark:text-gray-400">
    © 2024 <a href="" class="hover:underline">{SITE_TITLE}</a>.
  </span>
</footer>
