---
import { SITE_TITLE } from "../constants";
---

<footer class="">
  <div class="mt-8 flex flex-col items-center justify-center">
    <span class="block text-sm text-gray-500 text-center dark:text-gray-400">
      © 2024 <a href="/" class="hover:underline">{SITE_TITLE}</a>.
    </span>
  </div>
</footer>
