---
const { im, css } = Astro.props;
import { Image } from "astro:assets";
---

<div class={css}>
  <!-- <Image src={im} alt="" onclick="openLightbox(this)" class="object-contain" /> -->
  <Image src={im} alt="" id="image" class="object-contain" />
</div>

<!-- Lightbox Container -->
<!-- onclick="closeLightbox()" -->
<div id="lightbox" class="fixed inset-0 z-10 hidden bg-black/85">
  <div class="flex items-center justify-center">
    <img
      id="lightbox-image"
      class="z-50 max-h-screen h-full w-full object-contain"
      src=""
      alt=""
    />
  </div>
</div>

<script>
  const image = document.getElementById("image");
  const lightbox = document.getElementById("lightbox");
  const lightboxImage = document.getElementById("lightbox-image");

  image.addEventListener("click", () => openLightbox());
  lightbox.addEventListener("click", () => closeLightbox());

  function openLightbox() {
    lightboxImage.src = image.src;
    lightbox.classList.remove("hidden");
  }

  function closeLightbox() {
    lightbox.classList.add("hidden");
  }
</script>
