---
import { Image } from "astro:assets";

const { im, class: className } = Astro.props;
const imcss = className + " object-contain";
---

<!-- <light-box data-css={css}> -->
<light-box>
  <Image src={im} alt="" class={imcss} />
</light-box>

<!-- Lightbox Container -->
<div id="lightbox" class="fixed inset-0 z-10 hidden bg-lbox/85">
  <div class="flex items-center justify-center">
    <img
      id="lightbox-image"
      class="z-50 max-h-screen h-full w-full object-contain"
      src=""
      alt=""
    />
  </div>
</div>

<script>
  class LightBox extends HTMLElement {
    constructor() {
      super();

      const lightbox = document.getElementById("lightbox");
      const lightboxImage = document.getElementById("lightbox-image");
      const image = this.querySelector("img");

      image.addEventListener("click", () => {
        lightboxImage.src = image.src;
        lightbox.classList.remove("hidden");
      });

      lightbox.addEventListener("click", () => {
        lightbox.classList.add("hidden");
      });
    }
  }

  customElements.define("light-box", LightBox);
</script>
