---
// import { Image } from "astro:assets";
import LightBox from "./LightBox.astro";

const { images } = Astro.props;
// const total = images.length;
---

<div class="w-full">
  <div
    class="columns-1 gap-2 sm:columns-2 md:columns-3 lg:columns-4 [&>img:not(:first-child)]:mt-4 lg:[&>img:not(:first-child)]:mt-1"
  >
    {
      images.map((im) => (
        <div class="break-inside mb-2">
          <LightBox im={im.default} />
        </div>
      ))
    }
  </div>
</div>
