---
const { menuItems } = Astro.props;
import { SITE_TITLE } from "../constants";
---

<nav class="mb-8 w-full h-full text-mred">
  <div class="flex flex-wrap items-end justify-between mx-auto px-0 py-2">
    <div
      class="bg-[url('/logo_cropped.png')] w-auto bg-no-repeat bg-contain bg-end p-0"
    >
      <div class="self-center p-2 font-regular text-3xl whitespace-nowrap">
        <a href="/" class="block">
          {SITE_TITLE}
        </a>
      </div>
    </div>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium text-xl flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 md:items-end rtl:space-x-reverse md:mt-0 md:border-0"
      >
        {
          menuItems.map((item) => (
            <li>
              <a
                href={item.href}
                class:list={[
                  "block",
                  "py-2",
                  "px-3",
                  "rounded",
                  "hover:underline",
                  `${Astro.url.pathname === item.href ? "font-bold" : ""}`,
                ]}
                aria-current="page"
              >
                {item.tag}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
