---
import { Image } from "astro:assets";

const { im, overlay, class: className } = Astro.props;
const imcss = className + " object-contain";
---

<light-box>
  <Image src={im} alt="" class={imcss} />
  <Image src={overlay} alt="" class="hidden" />
</light-box>

<!-- Lightbox Container -->
<div id="lightbox" class="fixed inset-0 z-10 hidden bg-black/85">
  <div class="flex items-center justify-center">
    <img
      id="lightbox-image"
      class="z-50 max-h-screen h-full w-full object-contain"
      src=""
      alt=""
    />
  </div>
</div>

<script>
  class Overlay extends HTMLElement {
    constructor() {
      super();

      const lightbox = document.getElementById("lightbox");
      const lightboxImage = document.getElementById("lightbox-image");

      // the stuff below is local to the tag!
      const images = this.querySelectorAll("img");
      const image = images[0];
      const overlayImage = images[1];

      image.addEventListener("click", () => {
        lightboxImage.src = overlayImage.src;
        lightbox.classList.remove("hidden");
      });

      lightbox.addEventListener("click", () => {
        lightbox.classList.add("hidden");
      });
    }
  }

  customElements.define("light-box", Overlay);
</script>
