---
import Heading from "./Heading.astro";
import { Image } from "astro:assets";
const { mockup } = Astro.props;
---

<div>
  <div>
    <Image
      src={mockup}
      alt=""
      class="shadow-2xl rounded-lg object-cover w-full h-full"
    />
    <div class="mt-12 mb-12 flex flex-col items-center justify-center">
      <slot />
      <!-- <p class="mt-1 p-2 border-2 border-mred"> -->
      <p class="mt-1">
        <a href="#" class="block hover:font-semibold"> See full spread </a>
      </p>
    </div>
  </div>
</div>
