---
import Heading from "./Heading.astro";
import { Image } from "astro:assets";
const { mockup } = Astro.props;
---

<div>
  <div>
    <Image
      src={mockup}
      alt=""
      class="shadow-2xl rounded-lg object-cover w-full h-full"
    />
    <div class="mt-6 mb-12 flex justify-center">
      <slot />
    </div>
  </div>
</div>
