---
import MainLayout from "../../layouts/MainLayout.astro";
import VMockup from "../../components/VMockup.astro";
import BookPair from "../../components/BookPair.astro";

import { Image } from "astro:assets";

import mockup1 from "../../images/art2024/covers/fronts/01-roaming_cover.png";
import mockup2 from "../../images/art2024/covers/fronts/02-polishcats_cover.png";
import mockup3 from "../../images/art2024/covers/fronts/03-thebigfish_cover.png";
import mockup4 from "../../images/art2024/covers/fronts/04-tinythings_cover.png";
import mockup5 from "../../images/art2024/covers/fronts/05-forest_cover.png";
---

<MainLayout>
  <div class="gap-12 grid grid-cols-2 auto-rows">
    <BookPair mockup1={mockup1} mockup2={mockup3} />
    <BookPair mockup1={mockup1} mockup2={mockup3} />
  </div>
</MainLayout>
