---
import MainLayout from "../../layouts/MainLayout.astro";
import Masonry from "../../components/Masonry.astro";

import Heading from "../../components/Heading.astro";
import { Image } from "astro:assets";

const images = await Astro.glob("../../images/art2024/faces/*.gif");
---

<MainLayout>
  <div class="pb-4">
    <Heading>Animal Faces</Heading>
    <Masonry images={images} />
  </div>
</MainLayout>
