---
import MainLayout from "../../layouts/MainLayout.astro";
import Mockup from "../../components/Mockup.astro";
import LightBox from "../../components/LightBox.astro";
import Button from "../../components/Button.astro";

import cover from "../../images/art2024/funkiest-animal/00-cover.png";
import mockup from "../../images/art2024/funkiest-animal/mock-ups/funkyaniimals_mockup2.png";

const images = await Astro.glob(
  "../../images/art2024/funkiest-animal/W*.{jpg,jpeg,png,webp}"
);
---

<MainLayout>
  <Mockup title="What is the funkiest animal?" mockup={mockup}>
    <div class="prose lg:prose-lg">
      <p>
        Through a survey, I asked people what they thought the funkiest animal
        was and why! The illustrations and answers are the result of this search
        for both what the funkiest animal is, and the reasons behind why we feel
        that an animal is “funky” in the first place.
      </p>

      <p>
        In creating the images displayed below, I aimed for visual consistency,
        keeping the color palette consistent with the subject matter.
      </p>
    </div>
  </Mockup>

  <LightBox im={cover} class="mt-12 w-3/4 md:w-2/3 lg:w-1/2 mx-auto" />

  <div class="flex flex-col gap-4 mt-4">
    {images.map((im, _) => <LightBox im={im.default} />)}
  </div>
  <Button
    href="/illustration/"
    class="pt-12 flex justify-center md:justify-end"
  >
    Go to the Illustration Page!
  </Button>
</MainLayout>
