---
import MainLayout from "../../layouts/MainLayout.astro";
import LightBox from "../../components/LightBox.astro";
import Button from "../../components/Button.astro";
// import Masonry from "../../components/Masonry.astro";

import Heading from "../../components/Heading.astro";
// import { Image } from "astro:assets";

const images = await Astro.glob(
  "../../images/art2024/lonely-landscapes/??_*.{jpg,jpeg,png,webp}"
);
---

<MainLayout>
  <Heading>Lonely Landscapes</Heading>
  <!-- <div class="mt-8 flex flex-col gap-2 mx-auto px-4 sm:px-8 lg:px-12 xl:px-24"> -->
  <!-- <div class="mt-8 flex flex-col gap-4 mx-auto px-4 sm:px-8 lg:px-12 xl:px-24"> -->
  <div class="mt-8 flex flex-col gap-4">
    {
      images.map((im) => (
        <LightBox im={im.default} />
        // <Image src={im.default} alt="" class="object-contain" />
      ))
    }
  </div>
  <Button
    href="/illustration/"
    class="font-variant-small-caps pt-12 flex justify-center md:justify-end"
  >
    Go to Illustration
  </Button>
</MainLayout>
