---
import MainLayout from "../../layouts/MainLayout.astro";
import Masonry from "../../components/Masonry.astro";
import Heading from "../../components/Heading.astro";
import Button from "../../components/Button.astro";

const images = await Astro.glob(
  "../../images/art2024/comics/mouse-and-monster/*.{jpg,jpeg,png,webp}"
);
---

<MainLayout>
  <Heading> Mouse and Monster </Heading>
  <!-- <div class="mt-8 mx-auto px-4 sm:px-8 lg:px-12 xl:px-24"> -->
  <div class="pt-8">
    <Masonry images={images} />
  </div>
  <Button
    href="/illustration/"
    class="pt-12 flex justify-center md:justify-end"
  >
    Go to Illustration
  </Button>
</MainLayout>
