---
// import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
// import { Image } from "astro:assets";
// import logo from "../images/logo_cropped.png";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <!-- <base href="/miriam/" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>{SITE_TITLE}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body class="font-jost text-slate-800 bg-msky">
    <div
      class="max-w-[1600px] mx-auto min-h-screen flex flex-col pt-4 px-2 lg:px-8"
    >
      <Navbar
        menuItems={[
          { tag: "books", href: "/books/" },
          {
            tag: "illustration",
            href: "/illustration/",
          },
          { tag: "about", href: "/about/" },
          {
            tag: "hire me!",
            href: "mailto:miriamshbooks@gmail.com",
          },
        ]}
      />
      <!-- </div> -->
      <main class="flex-grow mx-2 md:mx-4 lg:mx-12">
        <slot />
      </main>
      <div class="h-8"></div>
      <Footer />
      <div class="h-12"></div>
    </div>
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
